@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;300;400&display=swap');
body{
    box-sizing: border-box;
    margin: 10px auto;
    width: 800px;
    font-size: 12px;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
}
hr{
    border: 1px dashed purple;
}
.section{
    padding: 5px 0;
}
.firstSection{
    display: flex;
    justify-content: space-between;
}
.section img{
    height: 120px;
    margin-left: 20px
}
.section h1{
    font-size: 16px;
    color: purple;
    text-decoration: underline;
    font-weight:800;
    font-style: italic;
}
.section h2{
    font-size: 16px;
    font-weight: 800;
    margin: 5px 0;
}
.section p{
    margin: 5px;
    font-weight: 500;
}
.address{
    text-align: end;
}
.section th{
    padding-right: 50px ;
    font-weight: 500;
    text-align: left;
}